@media screen and (min-width: 1025px) and (max-width: 1440px) {
   
    .main-container {
        width: 100%;
        max-width: 1440px;
        padding: 0 50px;
        box-sizing: border-box;
    }

    .filtres button{
        display: flex;
        justify-content: center;
        width: 150px;
        height: 50px;
        border-radius: 25px;
        border: 1px solid #F2F2F2;
        padding: 4px, 19px, 4px, 19px;
        gap: 10px;
        cursor: pointer;
        align-items: center;
        background-color: white;
    }
    
    .icon2{
        display: none;
    }

    .hebergements-and-populaires {
        border-radius: 20px;
    }

    .hebergements {
        width: 67%;
    }

    .hebergements-cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .hebergements-cards a {
        width: 33%;
        height: auto;
    }


    .hebergements-and-populaires section {
        background-color: var(--main-bg-color);
        border-radius: 20px;
        padding: 30px;
        box-sizing: border-box;
    }

    .activity-cards a{
        display: flex;
        width: 100%;
    }

    .france-activity {
        width: 90%;
        height: 439px;
        border-radius: 20px;
    }
    
    .france-activity img{
        width: 100%;
        height: 380px;
        border-radius: 20px 20px 0px 0px;
    }

    .france-activity .card-content{
        height: 59px;
        border-radius: 0px 0px 20px 20px;
        box-shadow: 2px 2px 2px 2px #F2F2F2;
    }
}