/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

/* header{
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
} */

body{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* max-width: 1440px;
    margin: 0px;
    padding: 0 50px; */
}

.container1 img{
    cursor: pointer;
}

.container1 {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%; 
    height: 79px;
}

.nav_bar {
    display: flex;
    width: 344px; 
    height: 35px;
    text-align: center;
    /* gap: 68px;   */
    /* padding: 0px 50px 0px 50px; */
}

.nav_link {
    display: flex;
    /* justify-content: right; */
    width: 100%;  
    height: 39px;
}

.nav_link a {
    text-decoration: none;
    padding: 10px;
    width: 100%;
}

.nav_link a:hover {
    border-top: 2px solid #0065FC;
}

h1{
    font-size: 15px;
    /* gap: 8px; */
}

.search-container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 49px;
    border-radius: 15px;
    border: 1px solid;
    gap: 24px;
    border: none;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    width: 325px;
    height: 49px;

}

.icon1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#F2F2F2;
    width: 50px; 
    height: 49px; 
    border-radius: 15px 0px 0px 15px;
    border: 1px solid #F2F2F2;    
}


#search-bar{
    width: 147px;
    height: 21px;
    border: none;
}

#envoyer{
    background-color:#0065FC ;
    text-decoration: none;  
    color: white;
    width: 132px;
    height: 49px; 
    border-radius: 0px 15px 15px 0px;
    border: 1px solid #0065FC; 
    gap: 10px;
    cursor: pointer;
}




.filter-bar{
    width: 100%;
    height: 50px;
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 30px;
}

.filtres{
    display: flex;
    gap: 15px;
}

.filter-bar p{
    width: 54px;
    height: 21px;
}

.filtres button{
    width: 173px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #F2F2F2;
    padding: 4px, 19px, 4px, 19px;
    gap: 10px;
    cursor: pointer;
    align-items: center;
    background-color: white;
}

.filtres button:hover{
    background-color: #DEEBFF;
}

.logements{
    max-width: 1440px;
    display: flex;
    gap: 10px;
}

.button-i{
    background-color: #fff;
    color: #0065FC;
    padding:  5px 5px;
    margin: 20px 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 5px;
}


/* body {
    display: flex;
    justify-content: center;
} */

.main-container {
    width: 100%;
    /* max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box; */
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
    display: flex;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
} 

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    /* border-radius: 20px; */
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    /* gap: 30px; */
}

.hebergements-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: 1px solid blue; */
}

.hebergements-cards .card{
    width: 30%; /*250.3px*/
    height: 197px; /*207.25px*/
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px #0000001A;
    padding: 0px, 0px, 15px, 0px;
    border: 1px solid white;  
    margin: 20px 0px 20px 0px; 
    /* gap: 4px;    */
    
}

.img_container {
    width: 100%;
    height: 114px;
    border-radius: 20px 20px 0px 0px;
    border: 5px;
    object-fit: cover;
}

.img_hebergement {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px; 
}


.card-content {
    display: flex;
    flex-direction: column; 
    width: 250.33px;
    height: 64.25px;
    /* padding: 0px, 15px, 0px, 15px; */
    padding-left: 5px;
    gap: 8px ;
}

.card-title {
    margin: 0px;
    font-size: 12px;
}

.card-subtitle {
    font-size: 12px;
    margin: 0px;
}


/****** Populaires ***********/
.populaires {
    /* width: 32%; */
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    width: 100%;
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


.activity-cards{
    padding: 10px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

.france-activity{
    /* border: 1px solid rgb(245, 5, 5); */
    width: 23%;
    height: 370px;
    margin: 0px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 1px 1px #ccc;
}

.france-activity img{
    /* width: 100%; */
    height: 300px;
    border-radius: 20px, 20px, 0px, 0px;
}

.france-activity .card-content{
    height: 70px;
}

.france-activity .card-title {
    /* margin-left: 15px; */
    align-content: center;
    font-size: 18px;
    padding: auto;
}

.footer{
    display: flex;
    width: 100%;
    background-color: #ccc;
    justify-content: space-around;
    margin-top: 50px;
    height: 200px;
    cursor: pointer;
}

.footer h5{
    font-size: 18px;
}





