/* @media (max-width:1024px){
    .filtres{
        margin: 2px;
}
    .filtres button{
        display: flex;
        align-items: center;
        margin: 10px;
        
}
.filtres button i{
    margin: 5px;
} */

@media(max-width:1024px){
    .hebergements-and-populaires{
flex-direction: column;
align-items: center;
}

.hebergements{
    width: 100%;
    margin-bottom: 30px;
}



.hebergements-cards{
    width: 100%;
    margin-bottom: 40px;
    
}

.hebergements-cards .card{
    width: 100%;
    
}

.img_container{
    width: 100%;
}

.populaires{
    width: 100%;
}

.populaires-cards{
    display: flex;
    
}

.populaires-cards .card{
    width: 100%;
}




.activity-cards{
    width: 100%;
    height: 100%;
    
}

.activity-cards .img_container{
   object-fit: cover;
    
}

.france-activity{
    object-fit: cover;
    
}
}