/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media screen and (min-width:768px) and (max-width: 1024px) {
    body{
        display: flex;
        justify-content: center;
        padding: 0 50px;
    }
    
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        /* width: 100%; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activity-cards .card-title{
        width: 70%;
    }

    .france-activity{
        width: 24%;
    }

    .icon2{
        display: none
    }

    /* .filtres{
        justify-content: flex-start;
    } */

    .hebergements-and-populaires section {
        background-color: #F2F2F2;
        border-radius: 20px;
    }
} 